<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Wiki searcher !{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {% stylesheets
                '@AppBundle/Resources/public/css/*'
                filter='cssrewrite' output='css/compiled/app.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script>
                var baseUrl = "{{ url('homepage') }}";
            </script>
            {% javascripts
            '@AppBundle/Resources/public/js/lib/jquery-3.1.0.js'
            '@AppBundle/Resources/public/js/lib/jquery-ui.min.js'
            '@AppBundle/Resources/public/js/script.js'
            output='js/compiled/app.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
