{% extends '@AppBundle/Resources/views/base.html.twig' %}

{% block body %}

    <div class="jumbotron">
      <h1 id="titlePage">Wiki searcher !</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <h3 id="articleTitle"></h3>
    <div id="article"></div>
{% endblock %}


